body{

}
.header{
  text-align: center;
  font-size: 80px;
  margin: 0;
  padding: 0;
}
.title{
  text-align: center;
  font-size: 30px;
  margin:0;
  padding: 0;
}
/* .button{
  display: flex;
  align-items: center;
  justify-content: center;
  display: block; 
  margin: 0 auto; 
}
.a{
  background: transparent;
  font-size: 40;
  border:2px solid black;
} */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

