body{
  background-color: rgb(250, 236, 219);
}
.header{
  text-align: center;
  font-size: 80px;
  padding: 0;
}

.title{
  text-align: center;
  font-size: 30px;
  margin-top:-70px;
  padding: 0;
}

/* .button{
  display: flex;
  align-items: center;
  justify-content: center;
  display: block; 
  margin: 0 auto; 
}
.a{
  background: transparent;
  font-size: 40;
  border:2px solid black;
} */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #000;
color: white;
}

.fa-twitter {
background: #000;
color: white;
}

.fa-instagram {
background: #000;
color: white;
}

.fa-linkedin {
background: #000;
color: white;
}
.navigate{
  margin-top: 100px;
}
.social{
margin-top: 120px;
}
